<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
      <a href="https://obdhub.github.io/15">
        <img itemprop="image" class="img-rounded" src="https://res.cloudinary.com/dbruw74ms/image/upload/c_scale,w_200/v1585389506/logo15_jjuejf.jpg" alt="{{site.name}}">
      </a>
      <p class="def" style="font-family:Athiti;">ยุทธการจำเจอ</p>
      <p class="desc" style="font-family:Athiti;">{{site.user_description}}</p>
    </div>
</section>
