<header class="header-post" role="banner" style="background-color:#191970;">
    <div class="content">

        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}" class="date" style="font-family:Prompt;color:#ff69b4;">{{site.user_title}}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name" style="font-family:Prompt;color:#ff69b4;">{{ page.title }}</h1>

        <p itemprop="description" class="subtitle" style="font-family:Prompt;color:#ff69b4;">{{ page.description }}</p>
    </div>
    <a class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down" style="fill:#ff69b4;"></use></svg></a>
</header>
