<header class="header-site" role="banner" style="background-color:#191970;">
    <div class="content">
        <h1>
            <span class="site-title" style="font-family:Prompt;color:#ff69b4;">{{site.username}}</span>
            <span class="site-description" style="font-family:Prompt;color:#ff69b4;">{{site.user_title}}</span>
        </h1>
    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down" style="color:#ff69b4;"></use></svg></a>
</header>
